<div class="puzzle" *ngIf="!puzzleSolved">
    <img id="piece{{ piece }}" class="puzzle-piece" *ngFor="let piece of puzzlePieces"
        src="../../../assets/img/{{ puzzleCharacter }}/{{ piece }}.jpg">
</div>

<div class="direction-buttons" *ngIf="!puzzleSolved">
    <button *ngFor="let keyCode of keyCodes | keyvalue" class="{{ keyCode.key }}" (click)="moveTo(keyCode.value)">
        {{ keyCode.key }}
    </button>
</div>

<div *ngIf="puzzleSolved" class="winning-message">
    <img class="puzzle-piece" src="../../../assets/img/{{ puzzleCharacter }}/final.jpg">
</div>